
.courses-container {
  display: flex;
}

.courses-container > div {
  flex: 1;              
  padding: 1rem;         
  box-sizing: border-box;
}

.course-compare-searchbars {
  padding-top: 2%;
  width: 100vw;
  padding-left: 2%;
}

.autocomplete-wrapper {
  margin-bottom: 1%;
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;;
}