
.courses-container {
  display: flex;
}

.courses-container > div {
  flex: 1;              
  box-sizing: border-box;
}

.course-compare-searchbars {
  padding-top: 2%;
  width: 100vw;
  padding-left: 2%;
}

.autocomplete-wrapper {
  margin-top: 2%;
  margin-bottom: 1%;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  /* For Glassmorphism */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}