/* Navigation bar */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* opacity: 50%; */
    /* For Glassmorphism */
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}

/* Navigation links */
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    gap: 10px;
}

nav li {
    display: flex;
    align-items: center;
}

nav a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: var( #333);
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

nav a:hover {
    color: var( #007BFF);
    background: rgba(255, 255, 255, 0.3);
}

nav a.active {
    font-weight: bold;
    color: var( #007BFF);
}

